## Aula 04: Experimentação prática

### Explorando os dados, construindo e interpretando grupos

# Quais as minhas variáveis?

# Quais os tipos das variáveis?

# Tenho valores faltantes ou nulos?

# Interpretação do sumário

# Qual pergunta desejo responder? Com base em quê desejo encontrar agrupamentos nos dados?

# Qual a quantidade de grupos que devo utilizar?

# Devo reduzir a quantidade de features?

# Devo fazer scale nos dados?

# Como posso interpretar os grupos gerados?

# Indo além:
a) Plotar o nome/código dos clientes nos pontos do gráfico

b) Variar o número de grupos e verificar a saída

c) Devo aplicar alguma transformação nos meus dados? (ex: log 2/10)

d) Utilizar o K-Medians [ou outro método](https://scikit-learn.org/stable/modules/clustering.html) traria alguma novidade? 

e) Conseguimos calcular a matriz de distâncias, para o Algoritmo Hierárquico?

In [3]:
import pandas as pd # para criação do data frame

In [5]:
# Importando os dados 
clientes = pd.read_csv("ClientesShopping.csv")

# Exibindo as primeiras linhas do dado
clientes

     ClienteId  Genero  Idade  Renda(Milhares)  Credito
0            1    Male     19               15       39
1            2    Male     21               15       81
2            3  Female     20               16        6
3            4  Female     23               16       77
4            5  Female     31               17       40
5            6  Female     22               17       76
6            7  Female     35               18        6
7            8  Female     23               18       94
8            9    Male     64               19        3
9           10  Female     30               19       72
10          11    Male     67               19       14
11          12  Female     35               19       99
12          13  Female     58               20       15
13          14  Female     24               20       77
14          15    Male     37               20       13
15          16    Male     22               20       79
16          17  Female     35               21       35
17          18    Male     20               21       66
18          19    Male     52               23       29
19          20  Female     35               23       98
20          21    Male     35               24       35
21          22    Male     25               24       73
22          23  Female     46               25        5
23          24    Male     31               25       73
24          25  Female     54               28       14
25          26    Male     29               28       82
26          27  Female     45               28       32
27          28    Male     35               28       61
28          29  Female     40               29       31
29          30  Female     23               29       87
..         ...     ...    ...              ...      ...
170        171    Male     40               87       13
171        172    Male     28               87       75
172        173    Male     36               87       10
173        174    Male     36               87       92
174        175  Female     52               88       13
175        176  Female     30               88       86
176        177    Male     58               88       15
177        178    Male     27               88       69
178        179    Male     59               93       14
179        180    Male     35               93       90
180        181  Female     37               97       32
181        182  Female     32               97       86
182        183    Male     46               98       15
183        184  Female     29               98       88
184        185  Female     41               99       39
185        186    Male     30               99       97
186        187  Female     54              101       24
187        188    Male     28              101       68
188        189  Female     41              103       17
189        190  Female     36              103       85
190        191  Female     34              103       23
191        192  Female     32              103       69
192        193    Male     33              113        8
193        194  Female     38              113       91
194        195  Female     47              120       16
195        196  Female     35              120       79
196        197  Female     45              126       28
197        198    Male     32              126       74
198        199    Male     32              137       18
199        200    Male     30              137       83

[200 rows x 5 columns]

### Dicionário de Dados

* `ClienteId`: Id de identificação do cliente
* `Genero`: Gênero do comprador
* `Idade`: Idade do comprador
* `Renda(Milhares)`: Renda em milhares de reais
* `Credito`: Crédito na praça (de 1 a 100)